.popup__button_operation_submit {
    padding: 14px 0 18px;
    width: 100%;
    max-height: 50px;
    border-radius: 2px;
    background-color: #000;
    font-size: 18px;
    color: #fff;
    transition: all 0.2s ease-in-out, background-color 1s ease;
}
