.card-list__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("../../../icons/Trash.svg");
  width: 18px;
  height: 18px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1;
}

.card-list__trash:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.6;
}
