.content__profile {
  padding-top: 36px;
  margin: 0 200px;
}

@media screen and (max-width: 1100px) {
  .content__profile {
    margin: 0 96px;
  }
}

@media screen and (max-width: 865px) {
  .content__profile {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__profile {
    margin: 0 19px;
  }
}
